.nav {
  height: 100px;
  display: flex; /* Apply flex display to the nav element */
  justify-content:space-between;
  align-items: center;
  margin: 10px 10px;
  /* background-color: aqua; */
}

  .logo img{
  height: 60px;
  width: 100px;
  margin: 10px;
} 
.list {
  display: flex;
  justify-content:center;
  align-items: center;
  list-style: none;
  gap: 50px;
}
.list li{
  font-size: 30px;
  font-weight: 700;
   
}
.list li a{
  text-decoration: none;
  color:#111;
}
.btn{
  margin-right: 20px;
  padding: 6px 16px;
  background: rgb(231, 19, 19);
  height: 32px;
  color: white;
  font-weight: 500;
  border-radius: 7px;
  cursor: pointer;
}
.btn:hover {
  background-color: #111; /* New background color on hover */
  transition: background-color 0.5s ease; /* Smooth transition effect */
}